<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>MavisMobile.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>900324EE1F55D8CE0081E02A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>900325021F55D8CE0081E02A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9003250D1F55D8CE0081E02A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
